body {
    background-color: #F1F3F2;
}

#header {
    background: #96aeb1;
    color: black;
}

#site-name a:link, #site-name a:visited {
    color: black;
    font-weight: 600;
}

#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.form-row input {
    max-width: 250px;
}

textarea {
    max-width: 250px;
    height: 80px;

}

.submit-row input {
    max-width: 300px;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #96aeb1;
    color: rgb(0, 0, 0);
}

a.section:link, a.section:visited {
    color: black;
    text-decoration: none;
}

#nav-sidebar .current-model {
    background: #c6edff;
}