{% load static %}  

<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link type="text/css" href="{% static 'oblako/css/null.css' %}" rel="stylesheet" /> 
		<link type="text/css" href="{% static 'oblako/css/loginPage.css' %}" rel="stylesheet" /> 
		<link type="text/css" href="{% static 'oblako/css/ChoicePage.css' %}" rel="stylesheet" /> 
		<link type="text/css" href="{% static 'oblako/css/osintPage.css' %}" rel="stylesheet" /> 
		<link type="text/css" href="{% static 'oblako/css/adminOsint.css' %}" rel="stylesheet" /> 
		
		
		<script src="{% static 'oblako/js/showPassword.js' %}"></script>   
		<script src="{% static 'oblako/js/osintScript.js' %}"></script>  

		<link rel="icon" href="{% static 'oblako/images/favicon.png' %}" type="image">


		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="wrapper">
			{% block header %}
			<header class="choice-header">
				<div class="choice-title">

				<div class="wavy">
					<span style="--i: 1">В</span>
					<span style="--i: 2">о</span>
					<span style="--i: 3">б</span>
					<span style="--i: 4">л</span>
					<span style="--i: 5">а</span>
					<span style="--i: 6">к</span>
					<span style="--i: 7">а</span>
				</div>

					<h3>Пошук i аналiз iнфармацыi </h3>
				</div>

				<div class="choice-feedback">
					<a href="https://telegram.im/...">@oblako_telegram</a>
					<p> - обратная связь с администратором ресурса.</p>
				</div>
			</header>
			{% endblock header %}

			<main class="main">
			{% block main %}
		
			{% endblock main %}

			</main>
		</div>	
	</body>
</html>
