@charset "UTF-8";

.choice-header {
  width: 100%;
  max-width: 1280px;
  height: 120px;
  min-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.choice-title {
  margin-left: 80px;
}

.choice-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 80px;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}

.choice-feedback a {
  margin-right: 5px;
}

.choice-feedback a:hover {
  color: #81A3A7;
}

@media (max-width: 820px) {
  .choice-header {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .choice-feedback {
    margin-right: 0;
    margin-top: 10px;
  }
  .choice-title {
    margin-left: 0px;
  }
}

@media (max-width: 460px) {
  .choice-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.choice-app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (360px)[auto-fill];
      grid-template-columns: repeat(auto-fit, 360px);
  gap: 40px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

@media (max-width: 820px) {
  .choice-app {
    margin-top: 30px;
    -ms-grid-columns: (320px)[auto-fill];
        grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px 20px;
  }
}

.choice-one-app-conteiner {
  width: 360px;
  max-width: 100%;
  height: 200px;
  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

}

.choice-one-app-conteiner h2 {
  margin-top: 15px;
}

.choice-one-app-conteiner p {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-family: 'Times New Roman';
  margin: 15px 10px 0;
  flex: 1 0 auto;
}

.choice-one-app-conteiner a {
  display: block;
  width: 140px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #272424;
  background: #81A3A7;
  -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 5px auto 15px auto;
  color: #000;
  font-size: 18px;
  font-family: 'Times New Roman';
  font-weight: 700;
  letter-spacing: 2.25px;
  padding-top: 9px;
  position: relative;
  text-align: center;
  flex: 0 0 auto;
}

.choice-one-app-conteiner a::before {
  content: url('/static/oblako/images/ClickMe.svg');
  position: absolute;
  left: 0px;
  top: 3px;
}

.choice-one-app-conteiner a:hover, .choice-one-app-conteiner a:focus {
  background: #40e220;
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
}

.choice-one-app-conteiner a:active {
  background: #C2D3Da;
  margin-top: 20px;
  -webkit-box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.459);
          box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.459);
}

/**/
.wavy {
  position: relative;
}

.wavy span {
  position: relative;
  display: inline-block;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: -2px;
  -webkit-animation: animate 3s ease-in-out infinite;
          animation: animate 3s ease-in-out infinite;
  -webkit-animation-delay: calc(0.1s * var(--i));
          animation-delay: calc(0.1s * var(--i));
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  40%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  40%, 100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
